<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470142292899-tv7o0ot70pvndbnis4m69hcm7kbpfdpd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470142292899-tv7o0ot70pvndbnis4m69hcm7kbpfdpd</string>
	<key>API_KEY</key>
	<string>AIzaSyD46Fp7hQDpllomVD8Mw69kDlLKJqmKz8U</string>
	<key>GCM_SENDER_ID</key>
	<string>470142292899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wonkwh.wonderWords</string>
	<key>PROJECT_ID</key>
	<string>wonder-words-9d3ef</string>
	<key>STORAGE_BUCKET</key>
	<string>wonder-words-9d3ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470142292899:ios:273f8488ac28a87376c016</string>
</dict>
</plist>